@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aquamarine;
}

h1 {
    font-weight: 800;
}

#header {
  text-align: center;
  margin: 3rem auto;
}

#header h1 {
  font-size: 1.5rem;
}

#user-input {
  display: flex;
  justify-content: center;
}

.inp-1 {
  margin: 40px;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalidInput {
  text-align: center;
}

.result {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.table-heading {
    display: flex;
  border: 2px solid rgb(173, 28, 28);
  /* padding: 60px; */
  gap: 30px;
  margin-top: 10px;
  font-weight: 700;

}

.table-values {
    display: flex;
    gap: 70px;
    border: 2px solid black;
    text-align: center;
    
}


.valid-data{
    margin: 10px;
}
